@{
    ViewBag.Title = "Nguyễn Văn Được";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Nguyễn Văn Được - Quản lý sinh viên</h3>

    <address>
        K22CNT3 - Môn lập trình ứng dụng web với công nghệ Asp.net MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:nguyenvanduoc09665362766276@gamil.com">nguyenvanduoc09665362766276@gamil.com</a>
    </address>
</main>